<script src="{{ static_v('js/theme.js') }}"></script>
<script src="{{ static_v('js/core.js') }}"></script>
<script src="{{ static_v('js/account-switcher.js') }}"></script>
<script src="{{ static_v('js/feed.js') }}"></script>
<script src="{{ static_v('js/profile-own.js') }}"></script>
<script src="{{ static_v('js/profile-user.js') }}"></script>
<script src="{{ static_v('js/highlights.js') }}"></script>
<script src="{{ static_v('js/compose.js') }}"></script>
<script src="{{ static_v('js/comment-actions.js') }}"></script>
<script src="{{ static_v('js/comments.js') }}"></script>
<script src="{{ static_v('js/share-sheet.js') }}"></script>
<script src="{{ static_v('js/library.js') }}"></script>
<script src="{{ static_v('js/side-nav.js') }}"></script>
<script src="{{ static_v('js/chat.js') }}"></script>
<script src="{{ static_v('js/search.js') }}"></script>
<script src="{{ static_v('js/wallet.js') }}"></script>
<script src="{{ static_v('js/community.js') }}"></script>
<script src="{{ static_v('js/app.js') }}"></script>

</body></html>
